<p id="notice"><%= notice %></p>

<h1>Class Rooms</h1>

<table>
  <thead>
    <tr>
      <th>School</th>
      <th>Name</th>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @class_rooms.each do |class_room| %>
      <tr>
        <td><%= class_room.school_id %></td>
        <td><%= class_room.name %></td>
        <td><%= class_room.number %></td>
        <td><%= link_to 'Show', class_room %></td>
        <td><%= link_to 'Edit', edit_class_room_path(class_room) %></td>
        <td><%= link_to 'Destroy', class_room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Class Room', new_class_room_path %>
