<p id="notice"><%= notice %></p>

<h1>Pupils</h1>

<table>
  <thead>
    <tr>
      <th>Full name</th>
      <th>Father name</th>
      <th>Father phone number</th>
      <th>Mother name</th>
      <th>Mother phone number</th>
      <th>Class room</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pupils.each do |pupil| %>
      <tr>
        <td><%= pupil.full_name %></td>
        <td><%= pupil.father_name %></td>
        <td><%= pupil.father_phone_number %></td>
        <td><%= pupil.mother_name %></td>
        <td><%= pupil.mother_phone_number %></td>
        <td><%= pupil.class_room_id %></td>
        <td><%= link_to 'Show', pupil %></td>
        <td><%= link_to 'Edit', edit_pupil_path(pupil) %></td>
        <td><%= link_to 'Destroy', pupil, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pupil', new_pupil_path %>
